<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//vega.github.io/vega/vega.js" charset="utf-8"></script>
<script src="//vega.github.io/vega-lite/vega-lite.js" charset="utf-8"></script>
<script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>
<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
<style>
body {
    font-family: Vollkorn;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 8px 0;
}
hr {
    width: 100%;
}
a, a:visited {
    color: #0057ca;
    text-decoration: none
}
</style>