<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
body {
    font-family: 'Open Sans', sans-serif;
}
li {
    list-style-type: none;
}
p {
    margin: 8px 0;
}
hr {
    width: 100%;
}
a, a:visited {
    color: #0057ca;
    text-decoration: none
}
</style>
<div style="width: 600px; margin: 0 auto; text-align: center">
    <img width="200px" style="transform: scaleX(-1)" src="https://image.freepik.com/free-icon/graduation-cap-variant_318-47155.jpg" />
    <h1 >Know My Professor</h1>
        <p>Want to know what your professors spend the majority of their time on?</p>
        <p>Search any professor and see their published research!</p>
    <form action="/search">
        <input type="text" name="q" style="line-height: 2em; font-size: 1em" placeholder="Albert Einstein" />
        <input type="submit" value="Search" />
    </form>
    <p>Don't rate your professor, know your professor.</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    {% for university in universities %}
        <p><a href="/university/{{ university['code'] }}">{{ university['name'] }}</a></p>
    {% endfor %}
</div>