<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
<style>
body {
    font-family: Vollkorn;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 8px 0;
}
hr {
    width: 100%;
}
a, a:visited {
    color: #0057ca;
    text-decoration: none
}
</style>
<div style="width: 600px">
<h2><a href="">{{ query_inflected.title() }} Research History</a></h2>
<ul>
{% for university, uni_results in api_results.items() %}
    <h3 style="margin-bottom: 0">{{ university.title() }}</h3>
    <p style="margin: 0">{{ query.title() }} studied {{ uni_results['top_fields'] }}</p>
    <hr />
    {% for entity in uni_results['results'] %}
        <li>
        {% set url = entity.get('extended_metadata', {}).get('sources', ['#'])[0]['url'] %}
        <a href="{{ url }}">
            {{ entity['title'] or entity['extended_metadata']['display_name'].title() }}
        </a>
        <p>{{ url.split('/')[2].lstrip('www.') }} • {{ entity['date'] }} • {{ ', '.join(entity['field']) }}</p>
        <p>{{ entity['extended_metadata']['date'] }}</p>
        </li>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>
</div>